<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
</head>
<body>
    <style>
        * {
        font-family: sans-serif;
        background-color: #FFF;
        margin: 0 auto;
        }

        body {
        text-align: center;
        }

        h1 {
        font-size: 1.5em;
        }

        table, th, td {
        max-width: 33%;
        border: 1px solid black;
        padding: 1em;
        }

        .container {
        }

    </style>
        <div class="container">
            <h1>To Do App</h1>
                <form action="/submit" method="post">
                    Task:
                  <input type="text" name="task"></input>
                    Email:
                  <input type="email" name="email"></input>
                    Priority:
                    <select name="Priority">
                        <option value="low">Low</option>
                        <option value="medium">Medium</option>
                        <option value="high">High</option>
                    </select>
                  <input type="submit" value="Add To Do Item"></input>
                </form>
            <table>
                <thead>
                    <tr>
                        <td>Task</td>
                        <td>Email</td>
                        <td>Priority</td>
                    </tr>
                    {% for item in tasks %}
                    <tr>
                        <td>{{ item[0] }}</td>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                    </tr>
                    {% endfor %}
                </thead>
            </table>
            <form action="/clear">
                <input type="submit" value="Clear">
            </form>
        </div>
</body>
</html>