{% extends "layout.html" %}
{% block body %}
        <h1>Students</h1>
            <ul class=entries>
                {% for student in Students %}
                <li>{{ student.lastname }}, {{ student.firstname }}
                    {% else %}
                <li><em>Unbelievable.  No entries here so far</em>
                {% endfor %}
            </ul>
        <h1>Quizzes</h1>
            <ul class=entries>
                {% for student in Students %}
                <li>{{ quiz.subject }}, {{ quiz.questions}}, {{ quiz.qdate }}
                    {% else %}
                <li><em>Unbelievable.  No entries here so far</em>
                {% endfor %}
            </ul>
{% endblock %}